---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        // "syntax-highlighting",
        "milligram/milligram"

;

.product-thumbnail {
  overflow: hidden;
  &.jean {
    height: 100px;
    h2 a{
      font-size: 1em;
      padding: 10px;
      color: white;
    }
  }
  &.drawing {
    height: 250px;
    background-size: 400px;
    background-position: 0px 280px;
  }
}

.product-tictail-embed {
  margin-right: 10px;
}

.site-header, footer {
  background: url("http://49.media.tumblr.com/9c05937b509383e9759f06e0bcddd8ac/tumblr_nlf3siNWGA1ru5h8co1_500.gif");
}

.site-header {
  background-position: 0 400px;
}
footer {
  background-position: 0 -275px;
}
footer p, footer li {

}
