---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content row" itemprop="articleBody">
    <div class="column-66 product-tictail-embed">
      <iframe src="{{ page.product }}" frameborder="0" width="310" height="385"></iframe>
    </div>
    <div class="column-33">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      </header>
      {{ content }}
    </div>
  </div>



</article>
